---
import {siteSettings} from "../../utils/store.ts";
import Button from "../Button.astro";
import MainNavigation from "../Nav/MainNavigation.astro";
---
<section class="fullscreen fullscreen--home hero-bg--home">
  <div class="container mx-auto relative">
    <div class="flex flex-col justify-between">
      <MainNavigation color="light" />
      <div class="hero-heading">
        <h1>
          <span class="heading h2">Parafia pw. św.</span><br>
          <span class="heading h0">Michała Archanioła</span>
        </h1>
        <div class="hero-buttons">
          <Button priority="primary" title="Intencje mszalne" url={siteSettings?.massIntentionsUrl} />
          <Button priority="secondary" title="Ogłoszenia parafialne" url={siteSettings?.parishAnnouncementsUrl} />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .hero-bg--home {
    @apply bg-no-repeat bg-[left_90%_center] xl:bg-center bg-cover bg-nero text-white;
    background-image: url('/hero-bg.jpg');
  }
  .fullscreen {
    @apply w-full h-[100vh];
  }
  .fullscreen--home {
    @apply  xl:min-h-[125vh];
  }
  .hero-heading {
    @apply mt-16 lg:mt-20 text-center xl:text-left;
  }
  .hero-buttons {
    @apply flex flex-col md:flex-row
    justify-center xl:justify-start items-stretch md:items-center
    gap-5 xl:gap-10
    mt-8;
  }
</style>