---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { getPost, getPosts } from "../../utils/sanity";
import Hero from "../../components/Hero/Page.astro";
import { truncateText } from '../../utils/textHelpers';

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
const description = truncateText(post.body);
---

<Layout
  title={post.title!}
  description={description}
>
  <Hero />
  <section class="page py-10">
    <div class="container mx-auto">
      <div class="hero-heading">
        <h1 class="heading h0 text-center mt-10 mb-20">{post.title}</h1>
      </div>
      <div class="narrow leading-relaxed mx-auto flex flex-col gap-10 mb-10">
        <PortableText value={post.body} />
      </div>
    </div>
  </section>
</Layout>