---
import Caret from './Partials/Caret.astro';
type Props = {
  title: string;
  priority?: "primary" | "secondary" | "tertiary";
  url: string;
  arrow?: boolean;
}

const { title, priority = "primary", url, arrow = false }: Props = Astro.props;
---

<a role="button" href={url}>
  <div class={`btn btn--${priority} ${arrow ? '!pr-6' : ''}`}>
    <span>{title}</span>
    { arrow && <Caret /> }
  </div>
</a>

<style>
  .btn {
    @apply flex justify-center xl:justify-start items-center gap-4 py-3 xl:py-4 px-4 xl:px-8 text-center border-2 font-semibold xl:text-xl transition ease-in-out duration-150;
  }
  .btn--primary {
    @apply bg-white border-white text-luckypoint hover:bg-luckypoint hover:border-luckypoint hover:text-white hover:brightness-125;
  }
  .btn--secondary {
    @apply bg-transparent bg-luckypoint border-luckypoint text-white hover:text-white hover:border-white hover:bg-luckypoint hover:brightness-125;
  }
  .btn--tertiary {
    @apply bg-transparent py-0 px-0 border-0 text-red hover:text-white w-max;
  }
</style>