---
import Caret from './Partials/Caret.astro';
type Props = {
  title: string;
  priority?: "primary" | "secondary" | "tertiary";
  url: string;
  arrow?: boolean;
  targetBlank?: boolean;
}

const { title, priority = "primary", url, arrow = false, targetBlank = false }: Props = Astro.props;
---

<a role="button" href={url} target={targetBlank ? "_blank" : "_self"}>
  <div class={`btn btn--${priority} ${arrow ? '!pr-6' : ''}`}>
    <span>{title}</span>
    { arrow && <Caret /> }
  </div>
</a>

<style>
  .btn {
    @apply flex justify-center xl:justify-start items-center gap-4 py-3 xl:py-4 px-4 xl:px-8 text-center border-none font-semibold xl:text-xl transition;
  }
  .btn--primary {
    @apply bg-gray-100 text-luckypoint hover:shadow-lg hover:from-white hover:bg-white;
  }
  .btn--secondary {
    @apply bg-transparent bg-luckypoint text-white hover:brightness-150 hover:shadow-lg;
  }
  .btn--tertiary {
    @apply bg-transparent py-0 px-0 border-0 text-red hover:text-white w-max;
  }
</style>