---
import { siteSettings } from "../../utils/store";
import Logo from "../Partials/Logo.astro";
import type { Color } from "../Partials/Logo.astro"
import Hamburger from "../Partials/Hamburger.astro";

export type Navigation = {
  color?: Color;
}

const {color = "light"}: Navigation = Astro.props;

const textColor = color === "light" ? "text-white" : "text-black";
---
<nav class="w-full flex justify-between items-center lg:py-4">
  <a href="/">
    <Logo type={color} />
  </a>
  <div class="w-max flex justify-end items-center gap-4 xl:gap-10">
    <div class={`hidden lg:flex justify-center items-center gap-4 xl:gap-10 font-semibold ${textColor}`}>
      <a href="/intencje-mszalne" target="_self">Intencje</a>
      <a href="/ogloszenia-parafialne" target="_self">Ogłoszenia</a>
      <a href="/galeria">Galeria</a>
    </div>
    <Hamburger type={color} />
  </div>
</nav>